<div class="p-2 text-center">
<h1 mat-dialog-title>Effettua il tuo acquisto</h1>
<div class="p-2" mat-dialog-content>
  <h2>Riepilogo dell'ordine :</h2>
  <p *ngFor="let p of data[1]" class="p-1 border rounded shadow bg-light">
    {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
            <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
                <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span>
                </span>
  </p>
</div>
<div class="p-2">
  <button class="btn m-1">Acquista</button>
  <button class="btn m-1">Modifica Ordine</button>
</div>
</div>
