<div class="container">
  <div class="row py-5 position-relative text-center">
    <img src="assets/footer/delivery.avif" alt=""  class="position-fixed top-50 start-50 translate-middle w-25" style="z-index: -1;">
    <div class="col-md-12 py-5">
      <h1 class="fw-bold">Welcome to ordersApp</h1>
<p class="fs-5 fw-bold">This is the place where you can order food. Better than any other.</p>
    </div>
<div class="col-md-12 py-5"></div>
<div class="col-md-4 p-2">
<div class="p-2 border rounded shadow">
  <h2>Lorem ipsum</h2>
  <p class="fs-6">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
</div>
<div class="col-md-4 p-2">
<div class="p-2 border rounded shadow">
  <h2>Lorem ipsum</h2>
  <p class="fs-6">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
</div>
<div class="col-md-4 p-2">
<div class="p-2 border rounded shadow">
  <h2>Lorem ipsum</h2>
  <p class="fs-6">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
</div>
<div class="col-md-6 py-5">
  <h2>Lorem ipsum</h2>
<p class="fs-5" style="line-height: 1.1;">
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
<div class="col-md-6 py-5">
<img src="assets/home/truck.png" alt="" class="w-75">
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-warning p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-dark p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-warning p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-dark p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-dark p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-warning p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-dark p-5">
</div>
</div>
<div class="col-md-3 py-5 p-2">
<div class="border rounded bg-warning p-5">
</div>
</div>
  </div>
</div>
