<nav class="bg-dark p-3 text-white text-center">
  <div class="container">
    <div class="row">
<div class="col-md-4">
  <button class="btn" [routerLink]="'/'">
    Home
  </button>
</div>
<div class="col-md-4">
  <button class="btn" [routerLink]="'/search'">
    Search
  </button>
</div>
<div class="col-md-4">
  <button class="btn" *ngIf="!signedIn" [routerLink]="'/forms'">
    Login/Signup
  </button>
  <button class="btn" *ngIf="signedIn">
    Logout
  </button>
</div>
    </div>
  </div>
</nav>
