<div class="container">
  <div class="row text-center">
    <div class="col-md-12 py-5">
      <h1>Search, make orders and receive.</h1>
    </div>
    <div class="col-md-6 py-3">
<h2>Search here</h2>
<form [formGroup]="searchBusinessesForm" >
  <label for="" class="p-1">Seleziona la città</label>
  <select name="" id="" formControlName="citta" class="form-select w-75 m-auto">
    <option value=""></option>
    <option value="{{c.id}}" *ngFor="let c of cities">{{c.nome}}</option>
  </select>
   <label for="" class="p-1">Inserisci il nome</label>
<input type="text" class="form-control w-75 m-auto" formControlName="nome" (input)="search()">
  <span class="btn" (click)="search();order=null;business=null">Cerca 🔎</span>
</form>
<div class="p-2 row m-1 border rounded shadow" *ngFor="let b of businesses" style="cursor: pointer;" (click)="business=b">
<div class="col-md-3 p-1">
  <img src="{{b.immagine_profilo}}" alt="" class="w-50">
<p class="fs-6">{{b.citta.nome}}</p>
</div>
<div class="col-md-9 p-1">
  <h2>{{b.nome + ' - ' + b.tipoEsercizio}}</h2>
  <p>{{b.indirizzo + ' - ' + b.citta.nome}}</p>
</div>
</div>
<div class="p-2 row" *ngIf="businesses.length==0">
  <div class="col-md-4 p-1">
<img src="../../../assets/footer/delivery.avif" class="w-100 rounded shadow border" alt="">
  </div>
  <div class="col-md-4 p-1">
<img src="../../../assets/footer/delivery.avif" class="w-100 rounded shadow border" alt="">
  </div>
  <div class="col-md-4 p-1">
<img src="../../../assets/footer/delivery.avif" class="w-100 rounded shadow border" alt="">
  </div>
</div>
    </div>
    <div class="col-md-6 py-3 p-1">
        <h2>Chose here</h2>
  <div class="border rounded p-1 shadow overflow-auto" style="height: 400px;">
    <p class="text-end" *ngIf="business"><button class="btn fs-5" (click)="business=null;carrello=[]">❌</button></p>
    <p class="fs-5 py-5" *ngIf="!business">Effettua la ricerca e seleziona un locale per poter ordinare qualcosa.</p>
  <div class="row" *ngIf="business">
    <div class="col-md-3 p-1">
      <img src="{{business.immagine_profilo}}" alt="" class="w-50">
    <p class="fs-6">{{business.citta.nome}}</p>
    </div>
    <div class="col-md-9 p-1">
      <h2>{{business.nome + ' - ' + business.tipoEsercizio}}</h2>
      <p>{{business.indirizzo + ' - ' + business.citta.nome}}</p>
    </div>
    <div class="col-md-12 px-1 text-center" *ngIf="!order">
      <h2>Menù</h2>
      <div class="p-2 border rounded shadow">
        <h2>Antipasti</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
          <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='ANTIPASTO'">
        {{p.nomeProdotto + ' - ' + p.prezzo}} <br><span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
            <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
            </span>
          </p>
        </div>
        <h2>Primi</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
          <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='PRIMO'">
        {{p.nomeProdotto + ' - ' + p.prezzo}} <br><span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
            <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
            </span>
          </p>
        </div>
        <h2>Secondi</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='SECONDO'">
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Pizze bianche</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1"  *ngIf="p.tipoProdotto=='PIZZA_BIANCA'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Pizze rosse</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='PIZZA_ROSSA'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2>Dolci</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='DOLCE'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Bibite</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='BIBITA'">
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-8 px-1 text-center" *ngIf="order">
      <h2>Menù</h2>
      <div class="p-2 border rounded shadow">
        <h2>Antipasti</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
          <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='ANTIPASTO'">
        {{p.nomeProdotto + ' - ' + p.prezzo}} <br><span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
            <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
            </span>
          </p>
        </div>
        <h2>Primi</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
          <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='PRIMO'">
        {{p.nomeProdotto + ' - ' + p.prezzo}} <br><span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
            <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
            </span>
          </p>
        </div>
        <h2>Secondi</h2>
        <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='SECONDO'">
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Pizze bianche</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1"  *ngIf="p.tipoProdotto=='PIZZA_BIANCA'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Pizze rosse</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='PIZZA_ROSSA'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2>Dolci</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='DOLCE'" >
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
          <h2 >Bibite</h2>
          <div *ngFor="let p of business.prodottos" class="fs-5">
            <p  class="bg-warning p-2 my-1" *ngIf="p.tipoProdotto=='BIBITA'">
          {{p.nomeProdotto + ' - ' + p.prezzo}} <br>
          <span class="py-1 fs-6">Ingredients:</span><br> <span class="fs-6" *ngFor="let i of p.ingredientes, index as a">{{i.nome}}
              <span *ngIf="a+1<p.ingredientes.length">,</span> <span *ngIf="a+1==p.ingredientes.length">.</span></span> <span><button class="btn fs-5" (click)="addItemToOrder(p.id)">Add to order</button>
              </span>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-4 p-1" *ngIf="order">
<p class="p-1 text-end"><button class="btn" (click)="order=null">Svuota ordine 🗑️</button></p>
    </div>
  </div>
  </div>
    </div>
  </div>
</div>
